.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.app-title {
  color: #e4bebe;
  font-size: 64px;
}

.app-title__box {
  display: flex;
  justify-content: center;
}

.text-input {
  max-width: 600px;
  min-height: 50px;
  min-width: 300px;
  padding: 0;
  margin: 0;
  padding-left: 50px;
  font-size: large;
  border-color: transparent !important;
  border-right-width: 0px !important;
  box-shadow: none;
}

.text-input:focus,
.text-input:hover {
  border-color: transparent !important;
  border-right-width: 0px !important;
  box-shadow: none;
}

.text-input__edit {
  max-width: 600px;
  min-height: 50px;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  font-size: large;
  border-color: rgba(0, 0, 0, 0.16) !important;
  border-right-width: 2px !important;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.22),
    inset -1px -1px 1px 0px rgba(0, 0, 0, 0.22);
}

.text-input__edit:focus,
.text-input__edit:hover {
  border-color: rgba(0, 0, 0, 0.16) !important;
  border-right-width: 1px !important;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.22),
    inset -1px -1px 1px 0px rgba(0, 0, 0, 0.22);
}

.text-input::placeholder {
  font-style: italic;
  font-weight: 500;
  color: #bcbcbe;
}

.ant-card-body {
  padding: 0px !important;
}

.list-item {
  line-height: 50px;
  min-height: 50px;
  padding-left: 40px;
  font-size: large;
}

.list-item span {
  padding-left: 11px;
}

.list-item-deleted {
  color: #dcdee4;
  text-decoration: line-through;
}

.divider {
  margin: 0;
}

.todo-div {
  position: relative;
}

.close-icon {
  position: absolute;
  top: 22px;
  right: 30px;
  color: #e6b6b6;
  font-size: 16px;
}

.check-icon {
  position: absolute;
  top: 14px;
  left: -40px;
  font-size: 30px;
}

.check-text {
  text-decoration: line-through;
  color: #bcbcbe;
}

.down-icon {
  position: absolute;
  top: 18px;
  left: 15px;
  font-size: 16px;
  color: #bcbcbe;
  z-index: 1;
}

.card-panel {
  width: 45%;
  max-width: 600px;
  min-width: 360px;
  font-size: large;
  box-shadow: -2px -2px 4px 2px rgba(0, 0, 0, 0.16),
    2px 2px 4px 4px rgba(0, 0, 0, 0.16);
}

.card-footer {
  margin: 10px 10px 0 10px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-div-one {
  width: 44%;
  max-width: 595px;
  min-width: 345px;
  height: 6px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.16);
  margin-top: 1px;
}

.card-div-two {
  width: 43%;
  max-width: 590px;
  min-width: 335px;
  height: 5px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 2px 2px 1px rgb(0, 0, 0, 0.16);
  margin-top: 2px;
}

.footer-button,
.clear-footer-button {
  color: #a1a1a1;
  font-size: small;
}

.footer-button {
  padding: 0 5px 0 5px;
}

.footer-button__active {
  padding: 0 5px 0 5px;
  color: #a1a1a1;
  border: 1px solid #bdbdbd;
  font-size: small;
  background: none;
}

.footer-button__active:hover,
.footer-button__active:focus,
.footer-button__active:active {
  color: #a1a1a1;
  border: 1px solid #bdbdbd;
  background: none;
}

.clear-footer-button {
  position: absolute;
  bottom: 9px;
  right: 10px;
}

.footer-button:hover,
.footer-button:focus,
.footer-button:active {
  color: #a1a1a1;
  border: 1px solid #bdbdbd;
  background: none;
}

.clear-footer-button:hover,
.clear-footer-button:focus,
.clear-footer-button:active {
  color: #a1a1a1;
  border: none;
  background: none;
  text-decoration: underline;
}

.items-left {
  width: 90%;
  color: #a1a1a1;
  font-size: small;
  line-height: 25px;
}

.card-footer__first {
  width: 100%;
  min-width: 70px;
}
.card-footer__second {
  width: 100%;
  min-width: 170px;
}
.card-footer__third {
  width: 100%;
  min-width: 110px;
}

.card-footer__second > button {
  margin-left: 5px;
}
